@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  /* border: 1px solid white; */
}
:root {
  --background-color: #494141;
  --white: #fff !important;
  --shadow-1: #3e3737;
  --shadow-2: #544b4b;
}
#input-group{
    width: fit-content;
    height: fit-content;
}

.body {
  background: var(--background-color);
  /* padding: 10px 0px; */
}
nav{
    position: fixed;
    /* z-index: 999; */
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10vh;
    margin-top: -3vh;
    /* padding: 20px; */

}
.navi.sticky{
    /* padding: 5px 50px; */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter:blur(10px);
    background:rgba(0, 0, 0, 0.298);
    z-index: 999;
   


}
.empty{
    height: 20vh;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  /* margin:auto; */
  /* position: relative;
  float: right; */
  /* margin-bottom: 10vh !important; */


}
.search .icon{
    position: relative;
    margin-left: -30px;
}
.search input {
  background: none !important;
  border: 1px solid var(--white);
  border-radius: 30px;
  padding: 15px 40px 15px 15px;
  width: 100%;
  outline: none;
}
.row {
  margin: 0;
}
#card {
  border-radius: 15px;
  background: var(--background-color);
  box-shadow: 20px 20px 60px var(--shadow-1), -20px -20px 60px var(--shadow-2);
  transition: all 1s ease;
  overflow: hidden !important;
  height: fit-content;
  margin: auto;

}
/* #card:hover {
  box-shadow: 20px 20px 60px var(--shadow-1), -20px -20px 60px var(--shadow-2);
  scale: 1.1;
} */
.buttons {
    float: right;
    position: relative;
    margin-top: -15vh;
    z-index: 2;
    height: 60px;
    width: 60px;
    background: rgb(44, 199, 85);
    background: linear-gradient(0deg, rgba(44, 199, 85, 0) 0%, rgba(35, 140, 45, 1) 100%);
    border-radius: 60px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    font-size: 30px;
    transition: opacity 1s ease, visibility 1s ease; /* Apply transition to opacity and visibility */
}

.buttons.show {
    opacity: 1;
    visibility: visible;
}

.sidebar{
    padding-top: 20px;
    margin: 10px;
    /* margin-top: 20vh; */ 
    height: 100vh;
    overflow-y: scroll !important;
    scroll-behavior: smooth;
    border-radius: 15px;
    box-shadow:  20px 20px 60px #2f2a2a,
    -20px -20px 60px #635858;
    overflow: hidden;
    /* position: fixed; */
}
.inner{

  overflow: hidden;
  border-radius: 8px;
}
/*  SCROLL BAR DESIGN */
/* width */
::-webkit-scrollbar {
    width: 10px;
    padding-top: 20px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
    overflow: hidden;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.717); 
  }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.genre-li{
    margin: 0;
}
.genre-li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.musicResults {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  padding: 10px 0px;
  gap: 10px;
  row-gap: 40px;
  margin: auto;

  padding-left: 30px;
  /* justify-content: space-between; */
}
